  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .addnamebutton {
    background-color: #4CAF50;
    color: white;
    width: 100%;
   
  }/* Apply to "Add Name" Button*/

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .menu, .table{
      overflow: auto;
    }
      
  }